html {
  background-color: #ECE6DB;
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection { /* Code for Firefox */
  background: #EFEB6B;
}

::selection {
  background: #EFEB6B;
}

section {
  padding: 150px 10px;
  position: relative;
}

h1, p, span, a {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

h1 {
  max-width: 900px;
  margin: 0;
  font-size: 58px;
  color: #011A59;
  line-height: 1.4;
  transition: ease 0.2s;
}

p {
  max-width: 880px;
  margin: 24px 0;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  transition: ease 0.2s;
}

p:nth-of-type(2) {
  max-width: 750px;
}

span, a {
  font-weight: 600;
  color: #011A59;
  font-size: 20px;
  text-decoration: none;
  transition: ease 0.2s;
}

a:hover {
  text-decoration: underline;
}

p:nth-of-type(3) a {
  font-weight: 300;
  color: #000000;
}

img {
  z-index: -1;
  position: absolute;
  width: 300px;
  bottom: 0;
  right: 0;
  transition: ease 0.2s;
}

/* Responsive design for mobile and tablet */

@media screen and (max-width: 667px) {

  section {
    padding: 5px 10px;
  }

  h1 {
    max-width: 350px;
    font-size: 30px;
  }

  p, span, a {
    font-size: 16px;
  }

  p {
    max-width: 400px;
  }

  p:nth-of-type(2) {
    max-width: 400px;
  }

  p:nth-of-type(3)  {
    max-width: 200px;
  }

  img {
    width: 140px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1000px) {
  
  section {
    padding-top: 40px;
  }
}

@media screen and (max-width: 300px) {

  section {
    padding: 0px 10px;
  }

  p:nth-of-type(3) {
    max-width: 150px;
  }
}

@media screen and (min-width: 667px) and (max-width: 1024px) and (orientation: portrait) {

  section {
    padding: 120px 50px;
  }
  
  h1 {
    max-width: 700px;
    font-size: 42px;
  }

  p {
    max-width: 700px;
  }

  p:nth-of-type(2) {
    max-width: 660px;
  }
  
  p, span, a {
    font-size: 18px;
  }

  img {
    width: 250px;
  }
}

@media screen and (min-width: 667px) and (max-width: 750px) {

  p:nth-of-type(3) {
    max-width: 400px;
  }
}